*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
database.yml
/.bundle
/vendor/bundle
/config/*
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
