#content {
  padding: 15px;
  min-height: 500px;
}

#footer {
  float: right;
  margin: 25px;
  min-height: 10px;
}

.title {
  font-size: 24px;
  font-style: italic;
}

.painting {
  display: inline-block;
  margin: 15px 20px;
}

.painting p {
  margin: 5px 0px;
}

.sold {
  height: 20px;
  width: 20px;
  background: rgba(214,0,0,0.8);
  border-radius: 20px;
  position: relative;
  top: -40px;
  margin: 10px;
  float: right;
}

.gal-image {
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
  width: 280px;
}

a {
  color: #88B6E7;
}

a:hover {
  color: #88B6E7;
}

#sidebar {
  position: fixed;
  top: 120px;
}
