#content {
  padding: 15px;
  min-height: 500px;
}

#footer {
  float: right;
  margin: 25px;
}

.title {
  font-size: 24px;
  font-style: italic;
}

.painting {
  float: left;
  margin: 15px 20px;
}

.painting p {
  margin: 5px 0px;
}

.sold {
  display: none; /* for now! */
  height: 30px;
  width: 30px;
  background: radial-gradient(ellipse at center, rgba(214,0,0,1) 0%,rgba(214, 0, 0, 0.75) 50%, rgba(214, 0, 0, 0) 100%);
  border-radius: 30px;
  position: relative;
  top: -50px;
  margin: 10px;
  float: right;
}

.gal-image {
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
  width: 280px;
}
