#content {
  padding: 15px;
  min-height: 500px;
}

#footer {
  float: right;
  margin: 25px;
}

.title {
  font-size: 24px;
  font-style: italic;
}

.painting {
  float: left;
  margin: 10px 15px;
}
